*{ 
    margin:0; 
    padding: 0; 
    box-sizing: border-box; 
}  
.login{ 
    min-height: 100vh;   
    background-color: white;}   
.main-content{     
    position: relative; 
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    border:1.5px; 
    border-radius: 10px; 
    border-color: black;  
    border-style:double;
    height: 459px;   
    width: 50%; 
   margin: 30px; 
   left: 300px;   
   background-color: white;}
.header{ 
    text-align: center; 
    font-size: 40px; 
    color: rgb(255, 170, 0); 
    text-transform: uppercase; 
    font-family: sans-serif;  
    font-weight: bolder;  
    margin-bottom: 80px; } 
.header:hover { 
color: rgb(212, 122, 20); 
transition: 5s; 
font-size: 35px;}  
.login-form{  }  
.texthold{ 
    text-align: center; 
    text-transform: uppercase; 
    font-size: 15px; 
    margin: 15px;} 
#type-text{ 
    border-radius: 10px; 
    width: 300px; 
    height: 26px;  
    border-style:double;  
    text-align: center;}  
.submit{ 
    text-align: center;}
.submit input {  
    border-radius: 10px; 
    width: 150px; 
    height: 40px; 
    font-family: 'Times New Roman'; 
    text-transform: uppercase; 
    font-size: large; 
    cursor: pointer; 
    background-color: rgb(255, 170, 0);
    border:1px;} 
.account{ 
    font-size: 15px; 
    text-align: center;} 
.account a{ 
    color: black; 
    text-decoration: none; 
    cursor: pointer;}



